/23-24 Course Code Associations - Sheet3 (1).csv
/fix_blueprint_cte.csv
/fix_blueprint_math4.csv
/logins.csv
/sample code.py
/sis_export.csv
/sis_import_2023-08-09.csv
/sis_import_2023-08-10.csv
/sis_import_2023-08-11.csv
/sis_import_2023-08-14.csv
/sis_import_2023-08-15.csv
/sis_import_2023-08-16.csv
sis_import_2023-08-16_morning.csv
english_assoc
foundations
.gitignore
sis_export_test.csv
sis_import_2023-08-17_1.csv
sis_import_2023-08-17_2.csv
sis_import_2023-08-17.csv
sis_import_2023-08-18_oops.csv
sis_import_2023-08-18.csv
sis_import_test_2023-08-19.csv
sis_import_2023-08-19.csv
fix_blueprint_ec.csv
sis_import_2023-08-22.csv
sis_import_2023-08-23.csv
sis_import_2023-08-24_firstrun.csv
sis_import_2023-08-24.csv
sis_import_2023-08-24second run.csv
sis_import_2023-08-25.csv
sis_import_2023-08-28.csv
sis_import_2023-08-28morning.csv
sis_import_2023-08-30.csv
sis_import_2023-08-31.csv
blueprint_prep_file copy.py
blueprint_fix.py
blueprint_reset.py
missingblueprint.py
